html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	font-family: 'Basic', sans-serif;
}

a {
	text-decoration: none;
	cursor: pointer;
}

ul,
ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
}

nav a.selected {
	background-color: #f8d9e0;
	border-radius: 20px;
	height: 40px;
	width: 100px;
}

.gallery-item {
	width: 300px;
	height: 200px;
	margin-right: 40px;
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;
}

h1,
h2,
h4 {
	margin: 0;
}

.container {
	height: 100%;
	width: 100%;
	position: relative;
}
header {
	height: 80%;
	position: relative;
}

main {
	height: 100%;
}

.header-content-wrapper,
.categories-menu,
.categories-menu nav,
.product-info-wrapper,
.categories-list ul,
.categories-list ul li,
.item-options-wrapper,
.size-wrapper > div,
.size-wrapper,
.item-options-wrapper > div,
.product-main-wrapper,
.item-composition-country-wrapper,
nav a.selected {
	display: flex;
}

.categories-menu,
.overlay-content-wrapper,
.size-wrapper > div,
.item-options-wrapper > div,
.categories-list ul li,
nav a.selected {
	justify-content: center;
	align-items: center;
}

.header-content-wrapper,
.categories-menu nav,
.product-info-wrapper,
.size-wrapper,
.item-options-wrapper,
.item-composition-country-wrapper {
	justify-content: space-between;
}

.header-image-container {
	background-image: url(../assets/header.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	background-size: cover;
	position: relative;
	z-index: 1;
	background-position-y: bottom;
}

.header-content-wrapper {
	height: 100%;
	padding: 50px;
	color: #fff;
	align-items: center;
}

.title-wrapper h1 {
	font-size: 60px;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 20px;
}

.title-wrapper .shop-btn {
	height: 60px;
	width: 120px;
	border-radius: 20px;
	background-color: #fff;
	font-size: 20px;
	text-transform: uppercase;
	border: none;
}

.icon-wrapper {
	height: 70%;
	width: auto;
}

.icon-wrapper img {
	height: 100%;
}

.categories-menu {
	height: 20%;
}

.categories-menu nav {
	align-items: center;
	height: 50px;
	width: 40%;
	font-size: 20px;
}

.categories-menu nav a {
	color: #000;
}

.product-main-wrapper {
	flex-wrap: wrap;
	justify-content: center;
}

.single-product-wrapper {
	box-sizing: border-box;
	width: 20%;
	height: 500px;
	margin-right: 20px;
}

.product-image-wrapper {
	width: 100%;
	height: 400px;
	background: url('../assets/coats/coat-1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}

.product-info-wrapper {
	height: 100px;
	padding-top: 10px;
	font-size: 18px;
}

.product-info-wrapper .description-wrapper {
	font-weight: 500;
}
.product-info-wrapper .price-wrapper {
	color: #828282;
}

.overlay {
	z-index: 99;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(0, 0, 0, .6);
	display: none;
}

.overlay-content-wrapper {
	width: 100%;
	height: 100%;
	display: flex;
}

.cart-wrapper {
	position: relative;
	width: 20%;
	height: 85%;
}

.img-wrapper {
	height: 35%;
	width: 100%;
	padding: 20px 20px;
	background-repeat: repeat;
	background-size: contain;
}

.item-name-wrapper  {
	font-size: 20px;
	font-weight: 700;
}

.info-wrapper {
	position: absolute;
	top: 190px;
	z-index: 99;
	background-color: #fff;
	height: 65%;
	width: 100%;
	border-radius: 30px;
	padding: 20px 20px;
	font-size: 16px;
}

.item-size-wrapper {
	padding-top: 10px;
}

.item-size-wrapper .size-wrapper {
	padding-top: 5px;
}

.item-price-wrapper {
	font-size: 20px;
	color: #828282;
}

.size-wrapper {
	text-transform: uppercase;
	width: 100px;
	font-size: 12px;
}

.size-wrapper > div {
	box-shadow: 2px 2px 1px #e7e8e9;
	height: 20px;
	width: 20px;
}

.item-options-wrapper {
	margin-top: 30px;
}

.item-options-wrapper > div {
	display: flex;
	height: 45px;
	width: 85px;
	background-color: #e7e8e9;
	border-radius: 25px;
}

.item-options-wrapper div:nth-child(1) {
	background-color: #f8d9e0;
}

.item-composition-country-wrapper {
	margin-top: 30px;
}

.grey {
	color: #828282;
}

.item-care-wrapper {
	margin-top: 30px;
}
.categories-wrapper {
	margin: 40px;
}

.categories-title-wrapper {
	font-size: 30px;
}

.add-btn-wrapper {
	padding-top: 20px;
	width: 100%;
}

.add-btn-wrapper button {
	width: 100%;
	background-color: #000;
	height: 40px;
	border-radius: 30px;
	color: #fff;
	font-size: 16px;
}

.categories-list ul {
	justify-content: space-between;
	margin-top: 30px;
	font-size: 20px;
}

.categories-list ul li {
	background-color: #e7e8e9;
	height: 150px;
	width: 300px;
	border-radius: 20px;
}

.btn-close {
	display: flex;
	justify-content: flex-end;
}

.btn-img-wrapper {
	height: 40px;
	width: auto;
}

.btn-close img {
	height: 100%;
	width: auto;
	padding: 20px;
}

